<h1>Aloha.rb Presents</h1>
<h2>The Rubinius Lottery</h2>

<%= form_for :entry, :url => entries_path do |f| %>
  <%= f.label :name, 'Name' %><br/>
  <%= f.text_field :name %>
  <%= f.submit 'Enter' %>
<% end %>


<% if current_user && current_user.admin? %>
<%= form_for :winner, :url => entries_pick_path do |f| %>
  <%= f.submit 'Pick a winner' %>
<% end %>

<% end %>
  
  